{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Add Task</title>
    <link rel="stylesheet" type="text/css" href="{% static 'tasks/css/styles.css' %}">
</head>
<body>
    <h1>Add a New Task</h1>
    <form method="post">
        {% csrf_token %}
        <input class="form-input"type="text" name="title" placeholder="Task Title" required>
        <button class="button add-button"type="submit">Add Task</button>

    </form>
        <button class="button back-button"><a href="/">Back</a></button>

</body>
</html>
